{% load static %}
<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>{{title}}</title>
        <link rel = "stylesheet"  type = "text/css" href = "{% static "style.css" %}"



    </HEAD>
    <BODY>
    <div class = "container">

        <h1>{{title}}</h1>
        <ul class = "task-list">
            {% for t in tasks %}
              <li class = "list-item">{{ t }}</li>
            {% empty %}
               <li class = "empty">NO TASK </li>
            {% endfor %}
        </ul>
    </div>
    </BODY>
</HTML>